In [2]:
# Dependencies
import pandas as pd

In [5]:
# Save path to data file in a variable
purchase_data_file = "Resources/purchase_data.csv"

In [6]:
# Read file to pandas data frame

original_purchase_df = pd.read_csv(purchase_data_file)
original_purchase_df.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

In [11]:
# Get a numnber of total players

total_players = len(original_purchase_df["SN"].unique())
total_players

576

In [25]:
# Find a number of unique items
number_of_unique_items = len(original_purchase_df["Item ID"].unique())

# Find average purchaes price
avg_items_price = round(original_purchase_df["Price"].mean(), 2)

# Find total number of purchases
total_purchases = original_purchase_df["Purchase ID"].count()

# Find total revenue
total_revenue = original_purchase_df["Price"].sum()

# Create a data frame to store all this data
purchase_summary_df = pd.DataFrame({"Number of Unique Items": number_of_unique_items
                       ,"Average Price": avg_items_price
                       ,"Number of purchases": total_purchases
                       ,"Total revenue": total_revenue }, index=[0])

purchase_summary_df

   Number of Unique Items  Average Price  Number of purchases  Total revenue
0                     179           3.05                  780        2379.77